<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style type="text/css">
        body {
            padding-top: 100px;
            background: url(http://ourgrandlife.com/wp-content/uploads/2016/02/best-books-book-youll-ever-read-910x600.jpg) no-repeat;
            background-size: 100% auto;
            color: #fff;
            padding-right: 40%;
        }

        .form-container {
            width: 400px;
            margin: 0 auto;
        }

        .credits {
            margin-top: 40px;
            padding-top: 20px;
        }
    </style>
</head>
<body>